body {
    font-family: sans-serif, Arial;    
}

/*Налаштовуємо стиль для заголовків*/
h1, h2, h3 {
    font-family: 'Segoe Script', sans-serif;
    text-align: center;
}
h1 {
    text-transform: uppercase;
}
h2 {
    border: 3px solid #d6eee1;
    /* display: inline-block;  */
} 
h3 {
    display: inline-block;
} 
/*Для абзаців*/
p {
    /*color: red;*/
    font-size: 16px;    
}

/* для посилань, прибираємо підкреслення*/
a {
    text-decoration: none;
    transition: 0.2s;
}
/* при наведенні */
a:hover {
    text-decoration: underline;
    color: rgb(117, 193, 240);
}
/* списків */
ul {
    list-style-type: none;
    margin: 10px 10px;
}
ul li {
    margin: 5px 10px;
}
